{
  "bitbucket-oauth": {},
  "github-oauth": {},
  "gitlab-oauth": {},
  "gitlab-token": {
    "gitlab.com": "{{ lephare_gitlab_token }}"
  },
  "http-basic": {
    "repo.packagist.com": {
      "username": "token",
      "password": "{{ lephare_packagist_com_token }}"
    }
  }
}
