- name: LEPHARE - Publish assets
  synchronize:
    src: "{{ lephare_assets_build_path }}"
    dest: "{{ lephare_document_root_path }}/{{ lephare_assets_web_path }}"
    recursive: yes
    delete: yes
